a(href="/previewdeal/"+deal._id.toHexString()) &lt; Back
h1= deal.title
div.deals
    div.created_at= deal.created_at
    div.title= deal.title
    div.body= deal.body
    div
        img(src="/images/temp_barcode.jpg", width="200px")
