a(href="/admin") < Back to Deals
h1= title
form( method="post", enctype="multipart/form-data")
    div
        div
            span Title :
            input(type="text", name="title", id="editDealTitle")
        div
            span Body :
            textarea( name="body", rows=20, id="editDealBody)
        div
            span Upload Image :
            input(type="file", name="image")
        br
        br
        dev#editDealSubmit
            input(type="submit", value="Save")