!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/redmond/jquery-ui-1.8.16.custom.css')
    link(rel='stylesheet', href='/stylesheets/master-layout.css')
    link(rel='stylesheet', href='/stylesheets/admin.css')
    link(rel='stylesheet', href='/stylesheets/forms.css')
    
    script(type='text/javascript', src='/jquery/jquery-1.6.2.min.js')
    script(type='text/javascript', src='/jquery/jquery-ui-1.8.16.custom.min.js')
    script(type='text/javascript',src="/jquery/jquery-ui-timepicker-addon.js")
    script(type='text/javascript', src='/jquery/local.js')
  body.dashboard!= body