body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 13px;
}
#deals .deal .created_at {
  display: none;
}
.deal .created_at {
  display: none;
}
.deal input[type =text] {
  width: 490px;
  margin-left: 16px;
}
.deal input[type =button],
.deal input[type =submit] {
  text-align: left;
  margin-left: 440px;
}
.deal textarea {
  width: 490px;
  height: 90px;
}
.deal time.created_at {
  display: block;
  font-size: 12px;
  margin: 0.6em 0 1em 0;
}
.ui-hw-wrap .ui-li-heading,
.ui-hw-wrap .ui-li-desc {
  white-space: normal;
}
.ui-field-contain {
  padding: 1.5em 0;
  margin: 0;
  border-bottom-width: 0px;
}
.form-btn-wrapper {
  margin: 0px 0px 0px 22%;
}
.form-btn-wrapper .ui-btn {
  width: 200px;
}
.iphone-wrapper {
  background: #fff url("/images/iphone.png") scroll no-repeat 0px 0px;
  margin: 10px auto;
  width: 400px;
}
iframe {
  width: 320px;
  height: 460px;
  overflow: hidden;
  margin: 146px 0px 130px 38px;
}
