div(data-role="page", data-theme="d")
    div(data-role="header", data-theme="b") 
        a(href="/m/", data-role="button", data-direction="reverse",data-icon="arrow-l") Deals
        h1= deal.title
        a(href="/m/deal_main_g.html",data-role="button", data-direction="reverse") Main
    div(data-role="content")
        div.deals(style="text-align:center;")
            //div.created_at= deal.created_at
            a#grab-deal(href="../grabbed_deals.html", data-role="button", data-theme="e") Grab This Deal!
            h3= deal.title
            h4= deal.body
            div
                img(src="/images/" + deal.fileName, width="200px")
    div(data-role="footer",data-position="fixed")
        div(data-role="navbar")
            ul 
                li 
                    a(href="/m/index.html") Deals  
                li 
                    a(href="../grabbed_deals.html") Grabbox 
                li 
                    a(href="#") Games  
                li 
                    a(href="#") Friends