div(data-role="page", data-theme="d")
    div(data-role="header", data-theme="b")
        a(href="/m", data-role="button", data-icon="arrow-l", data-direction="reverse") All Deals
        h1= deal.title
    div(data-role="content")
        div.deals(style="text-align:center;")
            //div.created_at= deal.created_at
            h3= deal.title
            h4= deal.body
            div
                img(src="/images/" + deal.fileName, width="200px")
            div(style="margin-top:30px;")
                a(href="/m/code/"+deal._id.toHexString(), data-role="button", data-theme="b") Grab Deal
