div(data-role="page", data-theme="d")
    div(data-role="header", data-theme="b")
        h1= title
    div(data-role="content")
        ul(data-role="listview")
            - each deal in deals
                li
                    a(href="/m/deal/"+deal._id.toHexString())!= deal.title
